<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facekilling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AddFriendsActivity"></activity>
        <activity android:name=".activities.ProfileActivity" />
        <activity
            android:name=".activities.IndexActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.PicturesActivity" />
        <activity android:name=".activities.BiaoQingBaoCameraActivity" />
        <activity android:name=".activities.YanZhiCameraActivity" />
        <activity android:name=".activities.CofActivity" />
        <activity android:name=".activities.MyCofActivity" />
        <activity android:name=".activities.PostCofCameraActivity" />
        <activity android:name=".activities.LookForImages" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>